/* ==========================================================================
   CORE: Estructura Global de Layout
   ========================================================================== */
@use 'mixins';

.container {
  @include mixins.container;
}

.l-container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}