/* ==========================================================================
   VARIABLES: El ADN de Onda.
   ========================================================================== */

// 1. TIPOGRAFÍA
$font-sans: 'Inter', system-ui, -apple-system, sans-serif;
$font-serif: 'Playfair Display', serif;
$font-main: $font-sans;
$font-secondary: $font-serif;

/* 1.1 Pesos de Fuente */
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

/* 1.2 Escala de Tamaños */
$fs-10: 10px;
$fs-11: 11px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
$fs-32: 32px;
$fs-48: 48px;
$fs-60: 60px;
$fs-80: 80px;

// 2. COLORES (Corregidos a formato corto)
$white: #fff;
$black: #000;
$accent-blue: #00A3C4;
$error-red: #e74c3c;

// Grises y Fondos
$gray-dark: #555; 
$gray-light: #eee;
$gray-bg: #f9f9f9;

/* Mapeo Lógico */
$text-main: $black;
$text-muted: $gray-dark;
$border-color: $black;
$border-light: $gray-light;
$bg: $white; // Definimos el color de fondo global
$font-sans: 'Inter', system-ui, -apple-system, sans-serif;

/* Transparencias de UI */
$black-02: rgba($black, 0.02);
$white-10: rgba($white, 0.1);
$black-80: rgba($black, 0.8);

// 3. LAYOUT & ESTRUCTURA
$container-xl: 1300px;
$gap: 30px;
$radius-none: 0px;

// 4. BREAKPOINTS
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xl: 1300px;