# --- WordPress Core (No trackear el motor de WP) ---
wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# --- WordPress Content ---
wp-content/plugins/
wp-content/upgrade/
wp-content/uploads/
wp-content/themes/twentytwenty*

# --- Tu Tema (Ajuste de rutas de lo que ya tenías) ---
wp-content/themes/onda-pe-theme/vendor/
wp-content/themes/onda-pe-theme/resources/node_modules/
wp-content/themes/onda-pe-theme/app/static/admin/temp/
wp-content/themes/onda-pe-theme/app/static/public/temp/

# --- Archivos de Entorno y Logs ---
.env
.env.php
.env.staging
*.log
composer.phar
*.Identifier

# --- Editor / OS ---
.vscode/
.idea/
.DS_Store