# --- WordPress Core (No trackear el motor de WP) ---
/wp-admin/
/wp-includes/
/*.php
!/index.php
/license.txt
/readme.html
wp-config.php

# --- WordPress Content ---
# Ignorar todos los plugins
wp-content/plugins/*
!wp-content/plugins/onda-api.php
wp-content/themes/*
!wp-content/themes/twentytwentyfive/ # Solo si vas a modificarlo
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/

# --- Archivos de Entorno y Logs ---
.env*
*.log
*.Identifier
info.php

# --- Dependencias y Build ---
**/node_modules/
**/vendor/
node_modules/
dist/
composer.phar

# --- Raíz del proyecto ---
/composer.lock
/package-lock.json
/package.json
/info.php

# --- Editor / OS ---
.vscode/
.idea/
.DS_Store