/* ==========================================================================
   PAGE: Generic Page (Static)
   ========================================================================== */
@use '../base/variables';

.c-page {
  max-width: 80rem;
  margin: 6rem auto;
  padding: 0 2rem;

  &__title {
    margin-bottom: 4rem;
    text-align: center;
    font-family: variables.$font-serif;
    font-size: 4.8rem;
    font-weight: variables.$font-black;
    line-height: 1.1;
  }

  &__content {
    font-size: 1.8rem;
    line-height: 1.8;
    color: variables.$black;

    p { 
      margin-bottom: 2.4rem; 
    }

    h2, h3 {
      margin: 4rem 0 2rem;
      font-family: variables.$font-serif;
      font-weight: variables.$font-black;
    }
  }
}