/* ==========================================================================
   COMPONENT: Forms
   Description: Elementos de entrada de datos con validación visual.
   ========================================================================== */

@use '../base/variables';
@use '../base/mixins';

// Variable local temporal (Hasta que auditemos _variables.scss)
$color-error: #e74c3c; 

.c-form-group {
  margin-bottom: 24px;

  // 1. ETIQUETA
  .c-form-group-label {
    @include mixins.editorial-label(11px, 1px);
    
    display: block;
    margin-bottom: 8px;
    color: variables.$black;
  }

  // 2. CAMPO DE ENTRADA
  .c-form-group-input {
    @include mixins.button-reset;
    
    display: block;
    width: 100%;
    padding: 12px 0;
    font-family: variables.$font-main;
    font-size: 15px; 
    color: variables.$black;
    background: transparent;
    border-bottom: 1px solid variables.$black;
    
    @include mixins.b-radious(0);
    @include mixins.transition(0.3s);
    
    cursor: text;

    &::placeholder {
      color: variables.$text-muted;
      font-size: 14px;
      font-style: italic;
    }

    &:focus {
      outline: none;
      border-bottom-width: 2px;
      border-bottom-color: variables.$accent-blue; // Foco normal es azul Onda.
    }
  }

  // 3. MENSAJE DE ERROR (Ahora en Rojo)
  .c-form-group-error {
    display: none;
    color: $color-error;
    font-size: 11px;
    font-weight: variables.$font-bold;
    margin-top: 6px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  // 4. ESTADO DE ERROR (Modificador Crítico)
  &.has-error {
    .c-form-group-label {
      color: $color-error; // La etiqueta también avisa
    }

    .c-form-group-input {
      border-bottom-color: $color-error;
      color: $color-error;

      &:focus {
        border-bottom-color: $color-error;
      }
    }
    
    .c-form-group-error {
      display: block;
    }
  }
}