@use '../base/variables';
@use '../base/mixins';

.c-tag-celeste {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: variables.$font-black;
  color: variables.$accent-blue;
  letter-spacing: 1px;
}