<!doctype html>
<html lang="es">
  <head>
    {% include '_html-head.twig' %}

    {% block metas %}
      {% include "_html-seo.twig" %}

      {# content #}
    {% endblock %}
  </head>

  <body>
    {% block body %}
      {# content #}
    {% endblock %}

    {{ function('wp_footer') }}
  </body>
</html>
